Captain_VTank/Generated/*.cs
*.vsmdi
*.cachefile
*.user
Ice/*.cs
Ice/*.cpp
Ice/*.h
Client/Patcher/Distribution/*.*
Docs/Administration/*.log
Docs/Administration/*.out
Docs/Administration/*.pdf
Docs/Administration/*.bbl
Docs/Administration/*.blg
Docs/Administration/*.toc
Docs/Administration/*.tps
Docs/*.aux
Docs/*.bbl
Docs/*.blg
Docs/*.log
Docs/*.out
Docs/*.pdf
Docs/*.toc
Docs/*.tps
Docs/*.zip
*.pdb
*.suo
*.ncb
*.obj
Install*.exe
Debug
Release
Launcher/Distribution/*
xnafx31_redist.msi
