<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Name of the configuration file-->
    <add key="Config" value="config.client" />
    <!-- Host name or plain IP address of the target game server. -->
    <add key="ServerAddress" value="glacier2a.cis.vtc.edu" />
    <!-- Port number of the target game server. -->
    <add key="ServerPort" value="4063" />
    <!-- Default account name to be displayed in the login field. -->
    <add key="DefaultAccount" value="" />
    <add key="MapsFolder" value="maps" />
    <!-- Current Version of VTank-->
    <add key="version" value="0.0.0.0" />
    <!--options-->
    <!--video-->
    <!-- Client Screen Resolution -->
    <add key="options.video.Resolution" value="800x600" />
    <!-- Full Screen -->
    <add key="options.video.Windowed" value="true" />
    <!-- Texture Quality Level -->
    <add key="options.video.TextureQuality" value="High" />
    <!-- Antialiasing Level -->
    <add key="options.video.AntiAliasing" value="Off" />
    <!-- Shading support -->
    <add key="options.video.ShadingEnabled" value="true"/>
    <!--/video-->
    <!--audio-->
    <!--ambientSound-->
    <!-- Volume 0-10 -->
    <add key="options.audio.ambientSound.Volume" value="5" />
    <!-- Muted -->
    <add key="options.audio.ambientSound.Muted" value="false" />
    <!--/ambientSound-->
    <!--backgroundSound-->
    <!-- Volume 0-10 -->
    <add key="options.audio.backgroundSound.Volume" value="8" />
    <!-- Muted -->
    <add key="options.audio.backgroundSound.Muted" value="false" />
    <!--/backgroundSound-->
    <!--/audio-->
    <!--gameplay-->
    <!-- Show enemy player names over tanks -->
    <add key="options.gameplay.ShowNames" value="true" />
    <!-- Enable Profanity Filter for in game chat -->
    <add key="options.gameplay.ProfanityFilter" value="false" />
    <!-- Enables directional pointer-->
    <add key="options.gameplay.DirectionalPointer" value="true"/>
    <!-- HUD selection -->
    <add key="options.gameplay.InterfacePlugin" value="default" />
    <!--/gameplay-->
    <!--keybindings-->
    <!-- Keybindings for the client -->
    <add key="options.keybindings.Forward" value="W" />
    <add key="options.keybindings.Backward" value="S" />
    <add key="options.keybindings.RotateLeft" value="A" />
    <add key="options.keybindings.RotateRight" value="D" />
    <add key="options.keybindings.FirePrimary" value="Space" />
    <add key="options.keybindings.FireSecondary" value="C" />
    <add key="options.keybindings.Menu" value="Escape" />
    <add key="options.keybindings.Minimap" value="M" />
    <add key="options.keybindings.Score" value="Tab" />
    <add key="options.keybindings.Pointer" value="round" />
    <!--/keybindings-->
    <!--/options-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.9122" newVersion="2.5.0.9122" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>